name: Test

on:
  push:
    branches-ignore:
      - 'feature/**'
    paths:
      - '.github/workflows/test.yml'
      - '**/*.swift'
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - '**/*.swift'

jobs:
  test:
  
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macOS-latest]
        xcode-version: ["11.3.1", "11.4.1", "11.5"]

    runs-on: ${{ matrix.operating-system }}

    steps:
    - uses: actions/checkout@v2
    - uses: sinoru/actions-setup-xcode@v1.1
      with:
        xcode-version: ${{ matrix.xcode-version }}
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
